<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

	<context:component-scan base-package="com.kang">
    </context:component-scan>

	<bean class="org.apache.commons.dbcp.BasicDataSource" id="dataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/springbatch2?useunicode=true&amp;characterEncoding=utf8">
		</property>
		<property name="username" value="root"/>
		<property name="password" value="Qq123456"/>
	</bean>  	
	
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
		
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>
	<!-- 配置申明式事务，注解方式 -->
	<tx:annotation-driven transaction-manager="txManager" />
	<aop:aspectj-autoproxy proxy-target-class="true" />
		

   <bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
	   		<property name="jobRepository" ref="jobRepository"></property>
			<!-- <property name="taskExecutor" ref="syncTaskExecutor"></property> -->
	</bean>

    <bean id="jobRepository" class="org.springframework.batch.core.repository.support.JobRepositoryFactoryBean">
   		<property name="transactionManager" ref="transactionManager"></property>
   		 <property name="dataSource" ref="dataSource" />
    </bean>

  <bean id="transactionManager" class="org.springframework.batch.support.transaction.ResourcelessTransactionManager">
    </bean>

  <bean id="syncTaskExecutor" class="org.springframework.core.task.SyncTaskExecutor"></bean>	  

<!-- <bean id="taskExecutor" class="org.springframework.core.task.SimpleAsyncTaskExecutor"></bean>
 -->
 

 
 
 	<bean id="partitionHandler"
		class="org.springframework.batch.core.partition.support.TaskExecutorPartitionHandler">
		<property name="taskExecutor" ref="taskExecutor" />
		<property name="step" ref="txtSalve" />
		<property name="gridSize" value="100" />
	</bean>
 
 
 
<!-- 自定义线程池当作执行器 -->
	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="5" />
		<property name="allowCoreThreadTimeOut" value="true" />
	</bean>




 <import resource="partition_bean.xml"/>
  <import resource="partition_job.xml"/>  


</beans>